.app__container{
    display: flex;
   margin-top: 10vh;
   
}
.app__main{
  
    overflow: hidden;
    ::-webkit-scrollbar {
      width: 0px;
   }

    
}
.sidebarOpen{
    opacity: 0.3;
   
}